<%- include ../layouts/header.ejs %>

<div class="content-wrapper">
    <div class="container">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Actualizar producto</h4>
              <form action="/update/<%= data[0].ID %>" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<%= data[0].ID %>">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Nombre</label>
                    <input type="text" name="title" value="<%= data[0].titulo %>" class="form-control" id="inputEmail4">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputFile">Seleccione la portada</label>
                    <div id="inputFile" class="custom-file">
                      <input type="file" name="imagen" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" required for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Link del ejemplo</label>
                    <input type="text" name="preview" value="<%= data[0].preview %>" class="form-control" id="inputEmail4">
                  </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripción</label>
                    <textarea class="form-control" name="descripcion" id="exampleFormControlTextarea1" rows="3">
                        <%= data[0].descripcion %>
                    </textarea>
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="inputCity">Precio</label>
                    <input type="number" value="<%= data[0].precio %>" name="precio" min="0" type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputCity">Autor</label>
                    <input type="text" value="<%= data[0].autor %>" name="autor" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputCity">Zip</label>
                    <input type="file" id="file" required name="zip" style="display:none;" />
                    <button id="inputZip" onclick="thisFileUpload();" type="button" class="btn btn-outline-info btn-fw form-control">                    
                        <i class="mdi mdi-upload"></i>
                        Upload
                    </button>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputCity">Tecnologia</label>
                    <input type="text" value="<%= data[0].tecnologia %>" name="tecnologia" class="form-control" id="inputCity">
                  </div>
                </div>
                <button type="submit" class="btn btn-info">Actualizar</button>
                <a href="/" class="btn btn-default">Cancelar</button>
              </form>
            </div>
        </div>

    </div>

</div>
<script>
    function thisFileUpload() {
        document.getElementById("file").click();
    };
</script>
<%- include ../layouts/footer.ejs %>